.form-style {
  @apply w-full max-w-2xl mt-8 p-6;
}

.text-box-style {
  /* @apply block mb-6 text-[20px] leading-[24px] font-arial; */
  @apply block mb-4 text-[20px] leading-normal;
}

.input-style {
  @apply w-full border border-gray-300 rounded-md px-4 py-3 text-lg relative;
}

.button-style {
  @apply w-full text-xl bg-[#575757] text-white py-3 rounded-md hover:bg-[#313131] transition-all;
}

.custom-shadow {
  box-shadow: -3px 4px 1px #000000;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset !important;
  box-shadow: 0 0 0px 1000px #fff inset !important;
  -webkit-text-fill-color: #000 !important;
  caret-color: #000 !important;
}

.psw-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  top: 40% !important;
}

.psw-btn span {
  display: inline-block;
  vertical-align: middle;
}

.password-container {
  position: relative;
  background-color: #313131;
  /* Dark background */
  border: 1px solid #313131;
  border-radius: 12px;
  padding: 13px 22px;
  display: flex;
  align-items: center;
}

.password-input {
  flex: 1;
  background-color: transparent;
  border: none;
  color: #e1e1e1;
  /* Light text color */
  font-size: 18px;
  /* Adjust the size as needed */
  outline: none;
}

.password-toggle {
  cursor: pointer;
  color: #e1e1e1;
  font-size: 24px;
  /* Icon size */
}


/* Scrollbar styles */
.custom-scrollbar::-webkit-scrollbar {
  height: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #d3d3d3;
  border-radius: 30px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #000;
  border-radius: 30px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.custom-scrollbar {
  scroll-behavior: smooth;
  scrollbar-color: auto;
}

/* hide scrolbar */
.scroll-hidden {
  height: 18rem;
  /* Same as h-72 */
  border: 1px solid #ccc;
  /* Equivalent to border-gray-400 */
  padding: 0.5rem;
  /* Equivalent to p-2 */
  border-radius: 0.25rem;
  /* Equivalent to rounded */
  overflow: auto;
  /* Allows scrolling */

  /* Hide the scrollbar */
  &::-webkit-scrollbar {
    display: none;
    /* Hide scrollbar for Chrome, Safari, and Opera */
  }

  -ms-overflow-style: none;
  /* Hide scrollbar for IE and Edge */
  scrollbar-width: none;
  /* Hide scrollbar for Firefox */
}